/* * * * * * * * *\
 * Theme          *
\* * * * * * * * */
:root {
	--colour-background-body: #acacac;
	--colour-background-body-transparent: rgba(255, 255, 255, 0.744);
	--colour-background-box: #ffffff;
	--colour-dark-1: #373737;
	--colour-dark-2: #272424;
	--colour-accent-1: #f01111;
	--colour-remove: #ff0000;
	--colour-add: #00ff26;
	--colour-save: #ff7b00;
	--colour-default: rgb(17, 0, 255);
	--colour-clear: rgb(255, 45, 8);
	--box-shadow: 0.2rem 0.2rem 1rem var(--colour-dark-2);
	--border-radius: 1rem;
	--padding-cards: 1rem;
	--padding-title: 2rem;
}
/* * * * * * * * *\
 * Base           *
\* * * * * * * * */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	appearance: none;
	text-decoration: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	height: 100vh;
	overflow-x: hidden;
	user-select: none;
	font-size: 1rem;
	color: var(--colour-dark-1);
	background-color: var(--colour-background-body);
	position: relative;
	padding-top: 1rem;
}
main * {
	background-color: var(--colour-background-box);
}
/* * * * * * * * *\
 * Title          *
\* * * * * * * * */
.title {
	text-align: center;
	padding: var(--padding-title) 0;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	/* margin: 0 max(15rem, 25vw) 0; */
	font-weight: 900;
}
.title-accent-1 {
	color: var(--colour-dark-2);
}
.title-accent-2 {
	color: var(--colour-accent-1);
}
/* * * * * * * * *\
* Library buttons    *
\* * * * * * * * */
.button-library-wrapper {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap-reverse;
	gap: var(--padding-cards);
	justify-content: space-around;
	padding: var(--padding-cards) var(--padding-title);
}
.add-book {
	position: relative;
	width: clamp(10rem, 10vw, 150px);
	height: auto;
	padding: var(--padding-cards);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	filter: grayscale(0.4);
	border-radius: calc(var(--border-radius));
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--colour-background-box);
	border: 2px solid var(--colour-dark-2);
	background-color: var(--colour-add);
}
.add-book:hover {
	transform: translateY(-0.25rem);
	filter: grayscale(0);
}
.save-book {
	position: relative;
	width: clamp(10rem, 10vw, 150px);
	height: auto;
	padding: var(--padding-cards);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	filter: grayscale(0.4);
	border-radius: calc(var(--border-radius));
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--colour-background-box);
	border: 2px solid var(--colour-dark-2);
	background-color: var(--colour-save);
}
.save-book:hover {
	transform: translateY(-0.25rem);
	filter: grayscale(0);
}
.clear-book {
	position: relative;
	width: clamp(10rem, 10vw, 150px);
	height: auto;
	padding: var(--padding-cards);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	filter: grayscale(0.4);
	border-radius: calc(var(--border-radius));
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--colour-background-box);
	border: 2px solid var(--colour-dark-2);
	background-color: var(--colour-clear);
}
.clear-book:hover {
	transform: translateY(-0.25rem);
	filter: grayscale(0);
}
.default-book {
	position: relative;
	width: clamp(10rem, 10vw, 150px);
	height: auto;
	padding: var(--padding-cards);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	filter: grayscale(0.4);
	border-radius: calc(var(--border-radius));
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--colour-background-box);
	border: 2px solid var(--colour-dark-2);
	background-color: var(--colour-default);
}
.default-book:hover {
	transform: translateY(-0.25rem);
	filter: grayscale(0);
}

/* * * * * * * * *\
* Library Info    *
\* * * * * * * * */
.info-library-card {
	position: relative;
	width: clamp(15rem, 20vw, 300px);
	height: auto;
	padding: var(--padding-cards);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}
.info-library-card-list-item {
	list-style-type: none;
}
.info-library-card-list-item-type {
	font-weight: 700;
}
.info-library-card-list-item-value {
	font-weight: 500;
	position: absolute;
	right: calc(var(--padding-cards) * 4);
	color: var(--colour-accent-1);
}
/* * * * * * * * *\
* Book Grid       *
\* * * * * * * * */
.book-grid-wrapper {
	margin: 0 2rem;

	padding: var(--padding-title);
	border-radius: var(--border-radius);
	background-color: var(--colour-background-body-transparent);
}
.subtitle {
	background-color: transparent;
	padding-bottom: var(--padding-cards);
}
.book-grid {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	background-color: transparent;
	gap: 1rem;
}
.book-card {
	flex-basis: clamp(15rem, 30vw, 300px);
	height: auto;
	aspect-ratio: 2/3;
	padding: var(--padding-cards);
	background-size: cover;
	box-shadow: inset 0.5rem 0 0 var(--colour-dark-1), var(--box-shadow);
	filter: brightness(0.9);
	border-radius: var(--border-radius);
	outline: 1px solid #ffffff;
	position: relative;
}
.book-card.editing {
	scale: 1.05;
}
.book-card:hover {
	transition: scale 0.3s;
	scale: 1.05;
}
.book-card-details-list-item {
	list-style-type: none;
}
.book-card-details-list-item-type,
.book-card-details-list-item-value {
	background-color: transparent;
}
.book-card-details-list-item-type {
	font-weight: 900;
}
.book-card-details-list-item-value {
	color: var(--colour-accent-1);
	display: inline-block;
}
.book-card-details {
	position: absolute;
	bottom: 1rem;
	padding: calc(var(--padding-cards) * 0.25);
	border-radius: var(--border-radius);
}
.book-card-details-list {
	padding: var(--padding-cards);
	border-radius: var(--border-radius);
	background-color: transparent;
	font-family: Courier, monospace;
	background-color: rgb(248, 240, 182);
	background: repeating-linear-gradient(
		rgb(248, 240, 182),
		rgb(248, 240, 182) 25px,
		#bbcc9a 26px,
		#bbcc9a 27px
	);
	background-position-y: 35px;
	max-width: 13rem;
	border: 2px dashed var(--colour-dark-1);
}
.card-text,
.card-text * {
	background-color: transparent;
}
.card-text {
	font-size: 1rem;
	line-height: 27px;
}
.remove {
	--_remove-button-size: 50px;
	position: absolute;
	right: calc(var(--padding-cards));
	width: var(--_remove-button-size);
	height: var(--_remove-button-size);
	background-color: var(--colour-remove);
	filter: grayscale(0.4);
	border-radius: calc(var(--border-radius));
	font-size: 2rem;
	color: var(--colour-background-box);
	border: 2px solid var(--colour-dark-2);
	transition: transform 0.3s;
}
.remove:hover {
	transform: translateY(-0.25rem);
	filter: grayscale(0);
}
/* * * * * * * * *\
* Form		       *
\* * * * * * * * */
/* Style the asterisk */
/* Style the asterisk */
label.required:before {
	content: " *";
	color: red;
}
.popup {
	--_remove-button-size: 50px;
	position: fixed;
	--_width: clamp(20rem, 40vw, 400px);
	--_aspect-ratio: 1.5;
	--_height: calc(var(--_width) * var(--_aspect-ratio));
	top: calc((100vh - var(--_height)) / 2);
	left: calc((100vw - var(--_width)) / 2);
	height: var(--_height);
	width: var(--_width);
	padding: var(--padding-cards);
	border-radius: var(--border-radius);
	display: none;
	border: 2px solid var(--colour-dark-2);
}
.popup.active {
	display: block;
}

.popup form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: calc(1.2 * var(--_remove-button-size));
}
.form-item {
	/* text-align: center; */
	display: flex;
	flex-direction: column;
}
.form-item:has(input[type="checkbox"]) {
	/* text-align: center; */
	flex-direction: row;
}
input[type="checkbox"] {
	background-color: initial;
	cursor: default;
	appearance: auto;
	box-sizing: border-box;
	margin: 3px 3px 3px 4px;
	padding: initial;
	border: initial;
	display: block;
	opacity: 1;
}
.form-item input[type="text"],
.form-item input[type="number"] {
	width: calc(var(--_width) / 2);
}
.form .submit {
	position: relative;
	margin-inline: auto;
}
